h1{
    color: red;
    text-align: center;
    font-size: 3em;
}

h3{
    color: blue;
    font-size: 1.5em;
}

.grey{
    background-color: rgba(128, 128, 128, 0.5);
}


strong{
    font-weight: normal;
    color: yellowgreen;
}

em{
    font-style: normal;
    text-decoration: underline;
    font-size: large;
    color: orange;
}

p{
    background-color: pink;
}

.custom{
    color: green;
    text-align: right;
    text-decoration: underline;
}