form{
    margin: auto;
    background: radial-gradient(circle at bottom, orange, red 250px);
    width: 400px;
    height: 250px;
    border: solid 2px black;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

h1, div:last-child{
    text-align: center;
}

label:first-child, label:nth-child(1){
    margin: 0 20px 0 30px;
}

label:last-child{
    margin-left: 10px;
}

input{
    margin-bottom: 15px;
}

input[type="checkbox"]{
    margin-left: 30px;
}

button{
    margin-top: 20px;
}

button:hover{
    background-color: black;
    color: white;
}

