@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Pacifico&display=swap');

/* font-family: 'Pacifico', cursive; */
.navbar {
  height: 130px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.navbar-nav a {
  text-decoration: none;
  color: black;
  margin-right: 10px;
}

@media screen and (max-width: 992px) {
  .navbar-nav a {
    color: white;
  }
}

#navCanvas,
footer {
  background-color: #358c83;
  color: #ffffff;
}

footer a {
  text-decoration: none;
  color: #ffffff;
}
