@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Pacifico&display=swap');

* {
  margin: 0;
  padding: 0;
}
/* font-family: 'Pacifico', cursive; */
/* NAVIGATION - HEADER*/
.navbar {
  height: 130px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.navbar-nav a {
  text-decoration: none;
  color: black;
  margin-right: 10px;
}

@media screen and (max-width: 992px) {
  .navbar-nav a {
    color: white;
  }
}

#navCanvas,
footer {
  background-color: #358c83;
  color: #ffffff;
}

/*CORP SITE*/

h1 {
  color: #358c83;
}

a {
  text-decoration: none;
}

/* FOOTER*/
footer a {
  text-decoration: none;
  color: #ffffff;
}

/*
//////////////////////////////////////////////////////Page les Chiffres/////////////////////////////////////////////

*/
#map {
  background-color: #358c83;
}

figcaption {
  display: flex;
  justify-content: end;
  margin-right: 5vw;
  color: rgb(123, 123, 123);
}

.encadre {
  border: 2px solid #358c83;
  border-radius: 10px 0 20px 0;
  padding: 1vw;
  font-size: 1.1rem;
}
.encadre span {
  color: #358c83;
}
ul {
  padding-left: 0;
  list-style: none;
}
